<div class="container"><div  class="row ">
  <div class="  col"> <button mat-button [routerLink]="['user']">User</button></div>
  <div class="col"> <button mat-button [routerLink]="['Add']">Add user</button></div>
 <div class="col">  <button mat-button [routerLink]="['update']">Update User</button></div>
   <div class="col"><button mat-button [routerLink]="['delete']" >Delete User</button></div>
   <div class="col"><button mat-button [routerLink]="['Profile']" >profile User</button></div>
 </div></div>

<router-outlet></router-outlet>